{% extends "base.html" %}

{% block title %}Categories creation{% endblock %}

{% block style %}
  {% include "inc-style.html" %}
{% endblock %}

{% block header %}
  {% include "inc-header.html" %}
{% endblock %}

{% block page_content %}
  <div id="site_content">
      {% include "inc-sidebar.html" %}
      <div id="content">
        <div>
            <h1>Создание курса для категории "{{name}}"</h1>
            <form method="post">
                <input type="text" name="name" placeholder="Название">
                <div>
                    <label><input type="radio" name="format" value="webinar_format" /> Вебинар</label>
                    <label><input type="radio" name="format" value="full_time_format" /> Очный формат</label>
                </div>
                <button type="submit">Сохранить и вернуться к списку курсов</button>
            </form>
            <div>
                <a href="/courses-list/?id={{id}}">назад</a>
            </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "inc-footer.html" %}
{% endblock %}